body {
    background-color: #121213;
    color: #ffffff;
    font-family: 'ClearSans', 'Helvetica Neue', Arial, sans-serif;
    font-size: xx-large;
}

h1, h2 {
    cursor: pointer;
}

.buttonsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

#gameTable {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    border-spacing: 0px;
}

#gameSection {
    border-style: solid;
}

td {
    padding: 5px;
}

.hoverspot:hover {
    opacity: 1;
}

.hoverspot {
    height: 2.3em;
    width: 2.3em;
    opacity: 0;
    background-color: white;
    border-radius: 100%;
}

.gameButton {
    height: 2.3em;
    width: 2.3em;
    border: 2px solid #d8d8d8;
    border-radius: 100%;
    margin: 0px;
    background-color: #121213;
}

.button {
    border-radius: 20px;
    width: 50%;
    height: auto;
    font-size: 64px;
}

#resetButton {
    border-radius: 20px;
    width: 75%;
    height: auto;
    font-size: 64px;
}


.titleBar {
    text-align: center;
    font-size: 64px;
}

#title {
    font-size: 32px;
}

#games {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 2em;

}

#leaderboard th {
    text-align: left;
}

#leaderboard td {
    width: 400px;
    text-align: left;
}